<h1>Welcome to the Library, <%= @user.email.split("@").first %></h1>
<p>
  You have successfully signed up to the Library,
  your email is: <%= @user.email %>.<br/>
</p>

<p>Thanks for signing up and have a great day!</p>